[Unit]
Description=Autorestic backup service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=autorestic backup --verbose --all
ExecStartPost=autorestic forget --verbose --all
WorkingDirectory=%h
