[Unit]
Description=Autorestic backup service (data pruning)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=autorestic forget --verbose --all --prune
WorkingDirectory=%h
