{{- $email := promptStringOnce . "email" "What is your email address" -}}
{{- $gpgkey := promptStringOnce . "gpgkey" "GPG key" -}}
{{- $resticpassword := promptStringOnce . "resticpassword" "restic password" -}}
{{- $resticrepository := promptStringOnce . "resticrepository" "restic repository" -}}
{{- $backblazeid := promptStringOnce . "backblazeid" "Backblaze account ID" -}}
{{- $backblazekey := promptStringOnce . "backblazekey" "Backblaze Key" -}}
{{- $backuppath := promptStringOnce . "backuppath" "Backup path" -}}
{{- $healthchecks := promptStringOnce . "healthchecks" "Healthchecks device id" -}}

[data]
    email = {{ $email | quote }}
    gpgkey = {{ $gpgkey | quote }}
[data.restic]
    path = {{ $backuppath | quote }}
    password = {{ $resticpassword | quote }}
    repository = {{ $resticrepository | quote }}
    b2accountid = {{ $backblazeid | quote }}
    b2accountkey = {{ $backblazekey | quote }}
    healthchecks = {{ $healthchecks | quote }}
encryption = "gpg"
[gpg]
    symmetric = true
