{{- $email := promptString "email" -}}
{{- $gpgkey := promptString "GPG key" -}}
{{- $restic_password := promptString "restic password" -}}
{{- $restic_repository := promptString "restic repository" -}}
{{- $backblaze_id := promptString "Backblaze account ID" -}}
{{- $backblaze_key := promptString "Backblaze Key" -}}
{{- $backup_path := promptString "Backup path" -}}
{{- $healthchecks := promptString "Healthchecks device id" -}}

[data]
    email = {{ $email | quote }}
    gpgkey = {{ $gpgkey | quote }}
[data.restic]
    path = {{ $backup_path | quote }}
    password = {{ $restic_password | quote }}
    repository = {{ $restic_repository | quote }}
    b2accountid = {{ $backblaze_id | quote }}
    b2accountkey = {{ $backblaze_key | quote }}
    healthchecks = {{ $healthchecks | quote }}
encryption = "gpg"
[gpg]
    symmetric = true
