version: 2

extras:
  healthchecks: &healthchecks
    hooks:
      before:
        - 'curl -m 10 --retry 5 -X POST -H "Content-Type: text/plain" --data "Starting backup for location: ${AUTORESTIC_LOCATION}" https://hc-ping.com/{{ .restic.healthchecks }}/start'
      failure:
        - 'curl -m 10 --retry 5 -X POST -H "Content-Type: text/plain" --data "Backup failed for location: ${AUTORESTIC_LOCATION}" https://hc-ping.com/{{ .restic.healthchecks }}/fail'
      success:
        - 'curl -m 10 --retry 5 -X POST -H "Content-Type: text/plain" --data "Backup successful for location: ${AUTORESTIC_LOCATION}" https://hc-ping.con/{{ .restic.healthchecks }}'

locations:
  home:
    <<: *healthchecks
    from: {{ .restic.path }}
    to: remote
    forget: prune
    options:
      forget:
        keep-daily: 7 # keep 7 last daily snapshots
        keep-weekly: 3 # keep 3 last weekly snapshots
        keep-monthly: 2 # keep 2 last monthly snapshots
        keep-yearly: 1 # keep 1 last yearly snapshots
      backup:
        exclude:
          - '**/.pulse'
          - '**/.gradle'
          - '**/.m2'
          - '**/.ivy2'
          - '**/.android'
          - '**/.eclipse'
          - '**/.sbt'
          - '**/.g8'
          - '**/.visualvm'
          - '**/Android'
          - '**/.stm*'
          - '**/.npm'
          - '**/.arduino15'
          - '**/.cargo'
          - '**/**/.platformio'
          - '**/**/.icons'
          - '**/**/*Cache*'
          - '**/**/.cache*'
          - '**/**/__pycache__'
          - '**/projects/*/venv'
          - '**/projects/*/env'
          - '**/.davfs2/cache'
          - '**/.local'
          - '**/.thunderbird/*/ImapMail'
          - '**/Downloads'
          - '**/mnt'
          - '**/restore'
          - '**/.mozilla/firefox/*/storage'
          - '**/.mozilla/firefox/*/minidumps'
          - '**/.config/chromium/Default/Local Storage'
          - '**/.config/chromium/Default/Session Storage'
          - '**/.config/chromium/Default/Application Cache'
          - '**/.config/*/Cache'
          - '**/.config/*/User'
          - '**/.config/*/GPUCache'
          - '**/.config/*/ShaderCache'
          - '**/.config/Code/CachedData'
          - '**/.config/Code/CachedExtensions'
          - '**/.config/Code/logs'
          - '**/.wine'
          - '*.log'
          - '*.jar'
          - '**/lost+found'

backends:
  remote:
    type: b2
    path: '{{ .restic.repository }}'
    key: {{ .restic.password }}
    env:
      B2_ACCOUNT_ID: {{ .restic.b2accountid }}
      B2_ACCOUNT_KEY: {{ .restic.b2accountkey }}
