name = "system backup" # optional. if not set, the filename will be used without the extension

repositories = [
    {{ .restic.repository | quote }}
    ]

[execution]
parallel = true
retry_count = 10
retry_backoff = "1:00 exponential"  # 00:00 = min:sec; 00:00:00 = hour:min:sec
# strategies:
#  - static (same duration every try)
#  - linear (duration * retry number)
#  - exponential

[environment]
RESTIC_PASSWORD = {{ .restic.password | quote }}
B2_ACCOUNT_ID = {{ .restic.b2accountid | quote }}
B2_ACCOUNT_KEY = {{ .restic.b2accountkey | quote }}
# or RESTIC_PASSWORD_FILE
# https://restic.readthedocs.io/en/latest/040_backup.html#environment-variables

[backup]
sources = [
    {{ .restic.path | quote }}
    ]

exclude_patterns = [
  # Java files
  '$HOME/**/.gradle',
  '$HOME/**/.m2',
  '$HOME/**/.ivy2',
  '$HOME/**/.android',
  '$HOME/**/.eclipse',
  '$HOME/**/.sbt',
  '$HOME/**/.visualvm',
  '$HOME/**/.stmcube',

  # Node files
  '$HOME/**/.npm',

  # If there's any folder called .cache it's a cache
  '$HOME/**/Cache',
  '$HOME/**/.cache',
  '$HOME/**/__pycache__',

  # WebDAV mounts
  '$HOME/.davfs2/cache',

  # Trash
  '$HOME/.local/share/Trash',

  # Cache of IMAP messages
  '$HOME/.thunderbird/*/ImapMail',

  # I never keep important stuff there
  '$HOME/Downloads',

  # firefox profiles, standard and snap install
  '$HOME/.mozilla/firefox/*/storage',
  '$HOME/.mozilla/firefox/*/minidumps',

  # Chromium
  '$HOME/.config/chromium/Default/Local Storage',
  '$HOME/.config/chromium/Default/Session Storage',
  'SHOME/.config/chromium/Default/Application Cache',
  '$HOME/.config/google-chrome/Default/Local Storage',
  '$HOME/.config/google-chrome/Default/Session Storage',
  'SHOME/.config/google-chrome/Default/Application Cache',

  # Electron apps seem to do this
  '$HOME/.config/*/Application Cache',
  '$HOME/.config/*/Code Cache',
  '$HOME/.config/*/Cache',
  '$HOME/.config/*/GPUCache',
  '$HOME/.config/*/ShaderCache',

  # Microsoft VS Code follows different standards
  '$HOME/.config/Code/CachedData',
  '$HOME/.config/Code/CachedExtensions',
  '$HOME/.config/Code/logs',

  # I only use Wine to run the odd executable, so I exclude it all
  '$HOME/.wine',

  # Log files
  '*.log',
]
# exclude_files = []
# exclude_if_present = []

#pre_hooks = ["systemctl stop postgresql"]
#post_hooks = ["systemctl start postgresql"]

[prune]
keep-last = 3
keep-hourly = 2
keep-weekly = 3
keep-monthly = 5
group-by = "host,paths"
# https://restic.readthedocs.io/en/latest/060_forget.html#removing-snapshots-according-to-a-policy

#[check]
#checks = ["check-unused"]
